body {
  display: flex;
  align-items: center;
}

form {
  display: grid;
  grid-template-columns: 400px 400px;
  grid-template-rows: 75px 75px 75px;
  justify-items: stretch;
  grid-auto-flow: row;
  align-items: center;
  grid-gap: 10px;
  row-gap: 5px;
}

input {
  height: 40px;
  outline: 0;
  border-width: 0 0 2px;
  border-color: black;
}
#submit-button {
  justify-self: start;
  align-self: center;
}
#cancel-button {
  justify-self: end;
  align-self: center;
}
button {
  display: table-cell;
  position: relative;
  border-radius: 25px;
  color: white;
  width: 70px;
  height: 40px;
}
